*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.head-web{
    background-color: aqua;
    width: 100%;
    height: 100px;

}
.main-container{
    background-color: blue;
    width: 100%;
    height: 300px;
}
.heading{
    width: 100%;
    height: 100px;
    background-color: lawngreen;
}
.form-content{
    background-color: blueviolet;
    width: 70%;
    
}
.child{
    margin-bottom: 10px;
}